@charset "UTF-8";
body {
  font-family: 'Glegoo';
}

.apropos {
  font-family: 'Kalam';
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(210deg, #29AAE1, #1B1464) fixed;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

#accueil {
  background-repeat: no-repeat;
  height: 100%;
  background-position: 35% 20%;
  background-attachment: fixed;
}

#accueil #conteneurNuage {
  display: none;
}

#accueil #etoileFilante {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  -webkit-animation-name: etoileAnimation;
          animation-name: etoileAnimation;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

#accueil #etoileFilante::before {
  position: absolute;
  display: block;
  content: "";
  height: 100px;
  width: 1px;
  right: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
}

#accueil #titre {
  position: absolute;
  text-align: right;
  right: 30px;
  top: 10px;
  z-index: 1;
  text-transform: capitalize;
}

#accueil #titre h1 {
  color: white;
  margin: 0;
  font-size: 45px;
  text-shadow: 2px 2px 2px #000;
  -webkit-animation: titreOpacity 1s linear forwards;
          animation: titreOpacity 1s linear forwards;
}

#accueil #descriptionCourte {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-transform: capitalize;
}

#accueil #descriptionCourte h1 {
  color: white;
  margin: 0;
  font-size: 25px;
  text-shadow: 2px 2px 2px #000;
  -webkit-animation: titreOpacity 1s linear forwards;
          animation: titreOpacity 1s linear forwards;
}

#accueil h2 {
  z-index: -1;
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  #accueil #titre h1 {
    font-size: 65px;
  }
}

@media only screen and (min-width: 992px) {
  #accueil {
    overflow: hidden;
  }
  #accueil #conteneurNuage {
    display: block;
    position: relative;
    width: 100%;
  }
  #accueil #conteneurNuage .nuage {
    background-image: url(../img/nuage.png);
    height: 60px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 160px 60px;
    top: 0;
  }
  #accueil #conteneurNuage .nuage1 {
    -webkit-animation: animationNuage 80s linear infinite;
            animation: animationNuage 80s linear infinite;
  }
  #accueil #conteneurNuage .nuage2 {
    -webkit-animation: animationNuage 90s linear infinite;
            animation: animationNuage 90s linear infinite;
    top: 30px;
    -webkit-animation-delay: -20s;
            animation-delay: -20s;
    opacity: 0.8;
  }
  #accueil #conteneurNuage .nuage3 {
    -webkit-animation: animationNuage 250s linear infinite;
            animation: animationNuage 250s linear infinite;
    top: 20px;
    -webkit-animation-delay: -210s;
            animation-delay: -210s;
    opacity: 0.9;
  }
  #accueil #conteneurNuage .nuage4 {
    -webkit-animation: animationNuage 300s linear infinite;
            animation: animationNuage 300s linear infinite;
    top: 50px;
    opacity: 0.6;
  }
  #accueil #titre {
    right: 50px;
    top: 100px;
  }
  #accueil #titre h1 {
    font-size: 85px;
  }
  @-webkit-keyframes animationNuage {
    0% {
      -webkit-transform: translateX(110%);
              transform: translateX(110%);
    }
    100% {
      -webkit-transform: translateX(-15%);
              transform: translateX(-15%);
    }
  }
  @keyframes animationNuage {
    0% {
      -webkit-transform: translateX(110%);
              transform: translateX(110%);
    }
    100% {
      -webkit-transform: translateX(-15%);
              transform: translateX(-15%);
    }
  }
}

@-webkit-keyframes titreOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes titreOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes etoileAnimation {
  0% {
    top: -100px;
    right: 47%;
    opacity: 1;
  }
  2%, 100% {
    top: 25%;
    right: 65%;
    opacity: 0;
  }
}

@keyframes etoileAnimation {
  0% {
    top: -100px;
    right: 47%;
    opacity: 1;
  }
  2%, 100% {
    top: 25%;
    right: 65%;
    opacity: 0;
  }
}

#transition {
  padding-bottom: 80px;
}

#transition .texteTransition {
  position: initial;
  z-index: -1;
}

#transition .texteTransition h2 {
  text-align: center;
  color: white;
  font-size: 55px;
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  margin: 150px 0;
}

#transition .apropos {
  background: url(../img/papierJaune.png);
  border-radius: 20px;
  height: 100%;
  background-repeat: round;
  width: 96%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#transition .apropos img {
  display: block;
  height: auto;
  width: 50%;
  margin: 0 auto;
}

#transition .apropos .profil {
  border: white 8px solid;
}

#transition .apropos #nom h3 {
  text-align: center;
  font-size: 36px;
  margin: 2px;
  color: black;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
}

#transition .apropos #description {
  background-color: #e9d46c;
  border-top: #eed453 30px solid;
  width: 60%;
  margin: 20px auto 40px auto;
  padding: 0 10px 10px 10px;
  -webkit-box-shadow: 2px 20px 10px #000000;
          box-shadow: 2px 20px 10px #000000;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

#transition .apropos #description h3 {
  font-weight: 400;
}

#transition .apropos #competences h4 {
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 1px #fff;
}

#transition .apropos #competences #languages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 30px auto;
  padding-bottom: 30px;
}

#transition .apropos #competences #languages p {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  width: 30%;
  margin: 5px auto;
}

#transition .apropos #competences #languages p:hover {
  font-weight: 700;
  cursor: default;
}

#transition .apropos #competences #logicielsCréation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin: 20px auto;
  gap: 10px;
}

#transition .apropos #competences #logicielsJeux {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  margin: 20px auto;
}

#transition .apropos #competences #logicielsJeux img:nth-child(2) {
  background-color: #fde675;
  border-radius: 50%;
}

#transition .apropos #competences #logicielsIntegration {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  margin: 20px auto;
}

#transition .apropos #competences #logicielsIntegration img:nth-child(2) {
  background-color: #fde675;
  border-radius: 50%;
}

#transition .apropos #competences #logicielsIntegration img:nth-child(3) {
  border: 5px solid black;
  border-radius: 20%;
}

@media only screen and (min-width: 992px) {
  #transition .texteTransition {
    position: fixed;
    top: 30%;
    width: 100%;
  }
  #transition .texteTransition h2 {
    font-size: 75px;
    text-align: center;
  }
  #transition .apropos {
    border-radius: 20px;
    height: 100%;
    background-repeat: round;
    width: 40%;
    margin: 0 auto;
    position: relative;
  }
  #transition .apropos .profil {
    width: 33%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  #transition .apropos #nom {
    padding-bottom: 100px;
  }
  #transition .apropos #nom h3 {
    text-align: left;
    font-size: 46px;
    margin: 0 0 0 10%;
  }
  #transition .apropos #description {
    width: 45%;
    min-width: 250px;
    max-width: 270px;
    right: 0;
    top: 16%;
  }
}

#bulles {
  position: relative;
  height: 1000px;
  width: 100%;
  display: none;
}

#bulles .bulle {
  background-image: url("../img/bulle.png");
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

#bulles .bulle1 {
  height: 100px;
  background-size: 100px 100px;
  -webkit-animation: animationBulle 0.5s ease-in forwards;
          animation: animationBulle 0.5s ease-in forwards;
  left: 10%;
}

#bulles .bulle2 {
  height: 200px;
  background-size: 200px 200px;
  -webkit-animation: animationBulle 1s ease-in forwards;
          animation: animationBulle 1s ease-in forwards;
  left: 0;
}

#bulles .bulle3 {
  height: 75px;
  background-size: 75px 75px;
  -webkit-animation: animationBulle 2s ease-in forwards;
          animation: animationBulle 2s ease-in forwards;
  left: 90%;
}

#bulles .bulle4 {
  height: 400px;
  background-size: 400px 400px;
  -webkit-animation: animationBulle 1.5s ease-in forwards;
          animation: animationBulle 1.5s ease-in forwards;
  left: 80%;
}

#bulles .bulle5 {
  height: 50px;
  background-size: 50px 50px;
  -webkit-animation: animationBulle 1s ease-in forwards;
          animation: animationBulle 1s ease-in forwards;
  left: 60%;
}

#bulles .bulle6 {
  height: 100px;
  background-size: 100px 100px;
  -webkit-animation: animationBulle .5s ease-in forwards;
          animation: animationBulle .5s ease-in forwards;
  left: 40%;
}

#bulles .bulle7 {
  height: 200px;
  background-size: 200px 200px;
  -webkit-animation: animationBulle 2s ease-in forwards;
          animation: animationBulle 2s ease-in forwards;
  left: 50%;
}

#bulles .bulle8 {
  height: 75px;
  background-size: 75px 75px;
  -webkit-animation: animationBulle 1.5s ease-in forwards;
          animation: animationBulle 1.5s ease-in forwards;
  left: 30%;
}

#bulles .bulle9 {
  height: 100px;
  background-size: 100px 100px;
  -webkit-animation: animationBulle 1s ease-in forwards;
          animation: animationBulle 1s ease-in forwards;
  left: 20%;
}

#bulles .bulle10 {
  height: 50px;
  background-size: 50px 50px;
  -webkit-animation: animationBulle .5s ease-in forwards;
          animation: animationBulle .5s ease-in forwards;
  left: 10%;
}

#bulles .bulle11 {
  height: 100px;
  background-size: 100px 100px;
  -webkit-animation: animationBulle 0.5s ease-in forwards;
          animation: animationBulle 0.5s ease-in forwards;
  left: 95%;
}

#bulles .bulle12 {
  height: 220px;
  background-size: 220px 220px;
  -webkit-animation: animationBulle 1s ease-in forwards;
          animation: animationBulle 1s ease-in forwards;
  left: 100%;
}

#bulles .bulle13 {
  height: 275px;
  background-size: 275px 275px;
  -webkit-animation: animationBulle 2s ease-in forwards;
          animation: animationBulle 2s ease-in forwards;
  left: 15%;
}

#bulles .bulle14 {
  height: 125px;
  background-size: 125px 125px;
  -webkit-animation: animationBulle 1.5s ease-in forwards;
          animation: animationBulle 1.5s ease-in forwards;
  left: 25%;
}

#bulles .bulle15 {
  height: 350px;
  background-size: 350px 350px;
  -webkit-animation: animationBulle 1s ease-in forwards;
          animation: animationBulle 1s ease-in forwards;
  left: 45%;
}

#bulles .bulle16 {
  height: 25px;
  background-size: 25px 25px;
  -webkit-animation: animationBulle .5s ease-in forwards;
          animation: animationBulle .5s ease-in forwards;
  left: 65%;
}

#bulles .bulle17 {
  height: 100px;
  background-size: 100px 100px;
  -webkit-animation: animationBulle 2s ease-in forwards;
          animation: animationBulle 2s ease-in forwards;
  left: 5%;
}

#bulles .bulle18 {
  height: 225px;
  background-size: 225px 225px;
  -webkit-animation: animationBulle 1.5s ease-in forwards;
          animation: animationBulle 1.5s ease-in forwards;
  left: 75%;
}

#bulles .bulle19 {
  height: 300px;
  background-size: 300px 300px;
  -webkit-animation: animationBulle 1s ease-in forwards;
          animation: animationBulle 1s ease-in forwards;
  left: 85%;
}

#bulles .bulle20 {
  height: 350px;
  background-size: 350px 350px;
  -webkit-animation: animationBulle .5s ease-in forwards;
          animation: animationBulle .5s ease-in forwards;
  left: 95%;
}

@-webkit-keyframes animationBulle {
  0% {
    bottom: 0;
    opacity: 1;
  }
  90% {
    bottom: 90%;
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes animationBulle {
  0% {
    bottom: 0;
    opacity: 1;
  }
  90% {
    bottom: 90%;
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}

@media only screen and (min-width: 992px) {
  #bulles {
    display: block;
  }
}

#vague {
  background-image: url("../img/accueil.png");
  background-repeat: no-repeat;
  height: 10%;
  width: 100%;
  background-position: 35% 20%;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

#vague .vague {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/vague.png);
  background-size: 700px 100px;
}

#vague .vague1 {
  -webkit-animation: animationVague1 30s linear infinite;
          animation: animationVague1 30s linear infinite;
  z-index: 10000;
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#vague .vague2 {
  -webkit-animation: animationVague1 15s linear infinite;
          animation: animationVague1 15s linear infinite;
  z-index: 9999;
  opacity: 0.5;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

#vague .vague3 {
  -webkit-animation: animationVague1 30s linear infinite;
          animation: animationVague1 30s linear infinite;
  z-index: 9998;
  opacity: 0.2;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

#vague .vague4 {
  -webkit-animation: animationVague1 15s linear infinite;
          animation: animationVague1 15s linear infinite;
  z-index: 9997;
  opacity: 0.7;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

@-webkit-keyframes animationVague1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 700px;
  }
}

@keyframes animationVague1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 700px;
  }
}

#projet {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#020016));
  background: linear-gradient(rgba(0, 0, 0, 0), #020016);
}

#projet h1 {
  color: white;
}

#projet #projets {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projet #projets div {
  position: relative;
}

#projet #projets div img {
  width: 100%;
  border: rgba(0, 0, 0, 0) 1vw solid;
  -webkit-transition: border 1s;
  transition: border 1s;
}

#projet #projets div i {
  position: absolute;
  top: 30%;
  left: 40%;
  color: white;
  font-size: 20vw;
  opacity: 0.4;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#projet #projets div:hover {
  cursor: pointer;
}

#projet #projets div:hover i {
  opacity: 0.8;
}

#projet #projets div:hover img {
  border: 1vw white solid;
}

#projet #projets iframe {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  #projet h1 {
    text-align: center;
    font-size: 60px;
  }
}

footer {
  background-color: #020016;
  color: white;
  height: 30%;
}

footer h2 {
  margin-top: 0;
  font-size: 48px;
  text-decoration: underline;
}

footer h5 {
  font-size: 16px;
}

footer h5:first-child a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  footer h5 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */