@charset "UTF-8";
.apropos {
  font-family: 'Kalam';
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(210deg, #29AAE1, #1B1464) fixed;
}

#accueil {
  background-image: url("../img/accueil.png");
  background-repeat: no-repeat;
  height: 100%;
  background-position: 35% 20%;
  background-attachment: fixed;
}

#accueil #titre {
  position: absolute;
  text-align: right;
  right: 30px;
  top: 10px;
  z-index: 1;
  text-transform: capitalize;
}

#accueil #titre h1 {
  color: white;
  margin: 0;
  font-size: 45px;
}

#accueil h2 {
  z-index: -1;
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  #accueil #titre h1 {
    font-size: 65px;
  }
}

@media only screen and (min-width: 992px) {
  #accueil #titre h1 {
    font-size: 85px;
  }
}

#transition {
  padding-bottom: 80px;
}

#transition .texteTransition {
  margin-bottom: 500px;
}

#transition .apropos {
  background: url(../img/papierJaune.png);
  border-radius: 20px;
  height: 100%;
  background-repeat: round;
  background-size: 200% 8%;
  width: 96%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#transition .apropos img {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

#transition .apropos .profil {
  border: white 8px solid;
}

#transition .apropos #nom h3 {
  text-align: center;
  font-size: 36px;
  margin: 2px;
  color: black;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
}

#transition .apropos #description {
  background-color: #e9d46c;
  border-top: #eed453 30px solid;
  width: 60%;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  -webkit-box-shadow: 2px 20px 10px #000000;
          box-shadow: 2px 20px 10px #000000;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

#transition .apropos #description h3 {
  font-weight: 400;
}

#transition .apropos #competences #languages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 30px auto;
  padding-bottom: 30px;
}

#transition .apropos #competences #languages p {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid black;
  width: 30%;
  margin: 5px auto;
}

#transition .apropos #competences #languages p:hover {
  font-weight: 700;
  background-color: #fde675;
  cursor: default;
}

#transition .apropos #competences #logicielsIntegration {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  margin: 20px auto;
}

#transition .apropos #competences #logicielsCréation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin: 20px auto;
  gap: 10px;
}

#transition .apropos #competences #logicielsJeux {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  margin: 20px auto;
}

#vague {
  background-image: url("../img/accueil.png");
  background-repeat: no-repeat;
  height: 10%;
  width: 100%;
  background-position: 35% 20%;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

#vague .vague {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/vague.png);
  background-size: 700px 100px;
}

#vague .vague1 {
  -webkit-animation: animationVague1 30s linear infinite;
          animation: animationVague1 30s linear infinite;
  z-index: 10000;
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#vague .vague2 {
  -webkit-animation: animationVague1 15s linear infinite;
          animation: animationVague1 15s linear infinite;
  z-index: 9999;
  opacity: 0.5;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

#vague .vague3 {
  -webkit-animation: animationVague1 30s linear infinite;
          animation: animationVague1 30s linear infinite;
  z-index: 9998;
  opacity: 0.2;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

#vague .vague4 {
  -webkit-animation: animationVague1 15s linear infinite;
          animation: animationVague1 15s linear infinite;
  z-index: 9997;
  opacity: 0.7;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

@-webkit-keyframes animationVague1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 700px;
  }
}

@keyframes animationVague1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 700px;
  }
}

#projet {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#020016));
  background: linear-gradient(rgba(0, 0, 0, 0), #020016);
}

#projet h1 {
  color: white;
}

#projet .sous-marin {
  background-image: url(../img/projet/sous-marin.jpg);
  height: 30%;
  width: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

footer {
  background-color: #020016;
  color: white;
  height: 30%;
}

footer h2 {
  margin-top: 0;
  font-size: 48px;
}
/*# sourceMappingURL=style.css.map */