

#accueil{
    background-image: url("../img/accueil.png");
    background-repeat: no-repeat;
    height: 100%;
    // position: fixed;
    background-position: 35% 20%;
    // background-size: 100%;
    background-attachment: fixed;

    #titre{
        // display: flex;
        // align-items: flex-end;
        // flex-direction: column;
        position: absolute;
        text-align: right;
        right: 30px;
        top: 10px;
        z-index: 1;
        text-transform: capitalize;
        h1{
            color: white;
            margin: 0;
            font-size: 45px;
        
        }
    }

    h2{
        z-index: -1;
        
    }

}


@media only screen and (min-width: 767px) and (max-width:991px){
    #accueil{
        #titre{
            h1{
                font-size: 65px;
            }
        }
    }
    
}



@media only screen and (min-width: 992px){
    #accueil{
        #titre{
            h1{
                font-size: 85px;
            }        
        }
    }
}