//ELEMENT
html{
height: 100%;
width: 100%;
}
*{
    // overflow-x: hidden;
}
body{
    height: 100%;
    width: 100%;
}

body{
    background: linear-gradient(210deg,#29AAE1,#1B1464) fixed;
    // background-color: red;
    
}

a{
    color: white;
    text-decoration: none;
}

