#projet{
    // height: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgb(2, 0, 22));

    h1{
        color: white;
    }

#projets{
    width: 90%;
    // height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    div{
        position: relative;
        img{
            width: 100%;
            border: rgba(0,0,0,0) 1vw solid;
            transition: border 1s;
            
        }
        i{
            position: absolute;
            top: 30%;
            left: 40%;
            color: white;
            font-size: 20vw;
            opacity: 0.4;
            transition: opacity 1s;
        }
    }
    div:hover{
        cursor: pointer;
    }
    div:hover i{
        opacity: 0.8;
    }
    div:hover img{
        border: 1vw white solid;
    }

    


    iframe{
        width: 100%;
        // padding-top: 100%;
    }
}

}
.info{
    position: fixed;
    height: 90%;
    width: 95%;
    background-image: linear-gradient(210deg, #29AAE1, #1B1464);
    left: 2.5%;
    bottom: 2.5%;
    z-index: 20000;
    border: 3px white solid;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    transform: translateX(120%);
    transition: transform 0.5s;

    i{
        font-size: 30px;
        position: absolute;
        top: -5%;
        right: 0;
        cursor: pointer;
    }

    #conteneurVideo{
        max-width: 433px;
        max-height: 244px;
        position: relative;
        width: 90%;
        margin:  20px auto 0 auto;
        padding-bottom: 292px; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 90%;
            max-height: 244px;
        }
    }
    h1{
        font-style: italic;
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }
    p{
        background-color: rgb(140, 219, 245);
        width: 80%;
        color: black;
        margin: 0 auto;
        padding: 15px 20px;
        border-radius: 20px;
        max-width: 420px;
    }
    img{
        width: 20%;
        margin: 20px auto;
    }
}

.infoActif{
    transform: translateX(0);
}

.filtre{
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.6;
    z-index: 19999;
    display: none;
}

.filtreActif{
    display: block;
}


@media only screen and (min-width: 550px){
    #info{
        #conteneurVideo{
            padding-bottom: 292px;
        }
    }
}

@media only screen and (min-width: 992px){
    #projet{
        h1{
            text-align: center;
            font-size: 60px;
        }
    }
}