

#transition{
//  height: 100%;
 background-image: linear-gradient(210deg,#29AAE1,#1B1464);

 .texteTransition{
    // position: fixed;
    // z-index: 1;
    // top: 30%;
    // left: 0;
    margin-bottom: 1000px;

    // h2{
    //     text-align: center;
    //     color:white;
    //     font-size: 62px;
    // }

}


        .apropos{
            background: url(../img/papierJaune.png);
            // height: 1000px;
            height: 100%;
            // background-size: 90% 3%;
            background-repeat: round;
            background-size: 200% 8%;
            width: 96%;
            margin: 0 auto;

            img{
                display: block;
                width: 50%;
                height: auto;
                margin: 0 auto;
                border: white 8px solid;
            }
            #nom{
                h3{
                    text-align: center;
                    font-size: 36px;
                    margin: 2px;
                    color: black;
                    text-shadow: 1px 1px #fff;
                    // margin-top: 30px;
                    // margin-bottom: ;
                    // color:black;
                }
            }

            #description{
                background-color: #ecdf9b;
                border-top: #7c6d22 30px solid;
                width: 60%;
                margin: 0 auto;
                padding: 0 10px 10px 10px;
            }


    }
    
    // #finPapier{
    //     background: url(../img/papierJauneBas.png);
    //     background-size: 200% 8%;
    //     width: 96%;
    //     height: 20px;
    //     background-repeat: round;
    //     margin: 0 auto;
    // }
}
